@import url("style.css");

/* nursahtuncel-OC-29-ımplement the you might also like section start*/

.nt-title {
  font-family: var(--fnt-family-integral);
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 55px;
  text-transform: uppercase;
}
.nt-images-container {
  margin: 0 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nt-images-container-half {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.nt-images-container-half-box {
  cursor: pointer;
}
.nt-prgrp-bttm {
  padding-top: 16px;
  font-family: var(--fnt-family-satoshi);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}
.nt-stars-and-puan {
  padding-top: 8px;
  display: flex;
  gap: 13px;
}
.nt-new-price-old-price {
  padding-top: 8px;
  display: flex;
  gap: 10px;
}
.nt-new-price-old-price-1,
.nt-new-price-old-price-2 {
  font-family: var(--fnt-family-satoshi);
  font-size: 24px;
  font-weight: 700;
  line-height: 32.4px;
}
.nt-new-price-old-price-2 {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}
.nt-new-price-old-price-3 {
  display: flex;
  text-align: center;
  align-items: center;
  color: rgba(255, 51, 51, 1);
  font-family: var(--fnt-family-satoshi);
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  border: 0px solid rgba(255, 198, 51, 1);
  background: rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.6);
  background: rgba(255, 51, 51, 1);
  background: rgba(255, 51, 51, 0.1);
  padding: 5px 15px;
  border-radius: 50px;
}
@media screen and (max-width: 1279px) {
  .nt-images-container-half {
    gap: 50px;
  }
}
@media screen and (max-width: 680px) {
  .nt-title {
    padding-bottom: 10px;
    font-size: 24px;
  }
  .nt-images-container-half {
    display: inline-block;
  }
  .nt-images-container-half-box {
    padding-top: 20px;
  }
}
/* nursahtuncel-OC-29-ımplement the you might also like section end*/
