@import url("./styles/styles.css");

.pd-hs-product-container {
    display: flex;
    gap: 40px;
    max-width: 1240px;
    margin: 0 auto;
}

.pd-hs-image-gallery {
   display: flex;
   max-width: 50%;
   gap: 15px;
}

.pd-hs-main-image {
    width: 75%
}
.pd-hs-small-images {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
}

.pd-hs-product-details {
    max-width: 50%;
}

.pd-hs-product-details h1 {
    font-size: 36px;
    font-weight: 800;
    font-family: var(--fnt-family-integral);
}

.pd-hs-rating {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
    font-family: var(--fnt-family-satoshi);
}

.pd-hs-price {
    display: flex;
    align-items: baseline;
    margin: 10px 0;
    font-family: var(--fnt-family-satoshi);

}

.pd-hs-current-price {
    font-family: var(--fnt-family-satoshi);
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin-right: 10px;
}

.pd-hs-original-price {
    font-family: var(--fnt-family-satoshi);
    font-size: 32px;
    text-decoration: line-through;
    color: black;
    opacity: 30%;
    margin-right: 10px;
}

.pd-hs-discount {
    font-family: var(--fnt-family-satoshi);
    font-size: 16px;
    color: #f00;
}

.pd-hs-description {
    font-family: var(--fnt-family-satoshi);
    margin: 10px 0 20px;
    font-size: 16px;
    color: black;
    opacity: 60%;
}

.pd-hs-color-selection, .pd-hs-size-selection, .pd-hs-quantity {
    font-family: var(--fnt-family-satoshi);
    margin-bottom: 20px;
}


h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: var(--fnt-family-satoshi);
}

.pd-hs-colors {
    display: flex;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.brown { background-color: brown; }
.green { background-color: green; }
.blue { background-color: blue; }

.pd-hs-size-selection button {
    padding: 8px 12px;
    border-radius: 60px;
    background-color: #F0F0F0;
    cursor: pointer;
    margin-right: 8px;
    border: none;
}

.pd-hs-size-selection .pd-hs-selected {
    background-color: black;
    color: #F0F0F0;
}

.pd-hs-quantity-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.pd-hs-quantity {
    display: flex;
    font-family: var(--fnt-family-satoshi);
    border-radius: 60px;
    width: 170px;
    background-color: #F0F0F0;
}

.pd-hs-quantity button {
    padding: 8px;
    cursor: pointer;
    border: none;
}

.pd-hs-quantity input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    margin: 0 8px;
    border: none;
    background-color: #F0F0F0;
}

.pd-hs-add-to-cart {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-family: var(--fnt-family-satoshi);
}