@import url("./styles/styles.css");

/* nursahtuncel-OC-4-Desing-the-Header-Section start */
.nt-hero-section {
  width: 100%;
  padding: 35px 0;
  display: flex;
  position: relative;
}
.nt-hero-section-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.nt-hero-section-content-ul ul {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(10px, 2vw, 24px);
}

.nt-logo {
  display: flex;
  gap: 10px;
  font-family: var(--fnt-family-integral);
  font-size: clamp(20px, 2vw, 32px);
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}
.nt-list {
  white-space: nowrap;
  font-family: var(--fnt-family-satoshi);
  font-size: clamp(8px 9vw 16px);
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: var(--hdr-bg-clr);
  position: relative;
}

.nt-list::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: black;
  color: black;
  left: 40%;
  bottom: -10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nt-list:hover::before {
  font-weight: bold;
  opacity: 1;
}
.nt-list:hover {
  font-weight: bold;
  transition: 0.3s ease-out;
}
.nt-icons:hover {
  cursor: pointer;
}
.nt-hero-section-search-box {
  display: flex;
  align-items: center;
  background-color: rgba(240, 240, 240, 1);
  max-width: 577px;
  width: 100%;
  height: 48px;
  border-radius: 62px;
  padding: 15px;
}

.nt-hero-section-search-box i {
  font-size: 20px;
  margin-right: 10px;
  color: #aaa;
}

.nt-hero-section-search-box input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  color: #555;
}
.nt-hero-section-search-box input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.nt-icons {
  padding-left: 15px;
}
.nt-left-icon {
  padding-right: 7px;
}
.nt-left-icon-2 {
  display: none;
}
.nt-hamburger-menu-icon {
  display: none;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nt-hamburger-menu-icon.active .nt-hamburger-menu-2 {
  opacity: 1;
}
.nt-menu-container {
  display: flex;
  align-items: center;
}
.nt-hamburger-menu-2 {
  opacity: 0;
  position: relative;
  top: 0;
  background-color: #5c6a7930;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
}
.nt-hamburger-menu-2.active {
  opacity: 1;
}
.navbar_items {
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  transition: all 250ms ease-in;
}
.nt-hamburger-menu-2.active .navbar_items {
  width: 100%;
  display: inline-block;
}

.navbar_items ul li {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  margin-top: 20px;
  padding: 10px 50px;
  text-align: center;
}
.navbar_items ul li {
  cursor: pointer;
  font-family: var(--fnt-family-satoshi);
  font-size: clamp(8px 9vw 16px);
  font-weight: 600;
  line-height: 21.6px;
  color: var(--hdr-bg-clr);
}
.navbar_items ul li a:hover,
.navbar_items ul li:hover {
  background-color: black;
  color: white;
}
.nt-secret-search-box {
  opacity: 0;
  position: absolute;
  top: 75px;
  right: 5vw;
  cursor: pointer;
  display: flex;
  display: flex;
  align-items: center;
  background-color: rgba(240, 240, 240, 1);
  max-width: 0;
  width: 100%;
  height: 48px;
  border-radius: 62px;
  padding: 15px;
  transition: all 400ms ease-in-out;
  z-index: 2;
}
.nt-secret-search-box.active {
  opacity: 1;
  max-width: 400px;
}
.nt-secret-search-box input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  color: #555;
}

@media screen and (max-width: 820px) {
  .nt-search-icon {
    display: inline-block;
  }
  .nt-hero-section-search-box {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  .nt-list-2 {
    display: none;
  }
  .nt-hamburger-menu-icon {
    display: inline-block;
  }

  .nt-hamburger-menu {
    display: inline-block;
  }
  .nt-hamburger-menu-icon {
    display: inline-block;
  }
  .nt-left-icon-2 {
    display: inline-block;
  }
}
@media screen and (min-width: 660px) {
  .nt-hamburger-menu-2 {
    display: none;
  }
}

/* nursahtuncel-OC-4-Desing-the-Header-Section end*/

/*------hero section burada başlıyor-----*/
.hero-section {
  background-color: var(--hdr-section-clr);
  margin: 0 auto;
  max-width: 1440px;
}

.hero-section-container {
  padding-inline: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.hero-section-background-image {
  max-width: 100%;
  position: relative;
  display: block;
}

.hero-sectin-info {
  order: -1;
  display: flex;
  flex-direction: column;
  max-width: clamp(200px, 45vw, 600px);
  gap: clamp(10px, 1.5vw, 32px);
}

.hero-sectin-info h1 {
  font-size: clamp(30px, 5vw, 64px);
  font-weight: 800;
  line-height: clamp(26px, 4vw, 60px);
  font-family: var(--fnt-family-integral);
}

.hero-sectin-info p {
  font-size: clamp(12px, 1.4vw, 16px);
  color: black;
  opacity: 60%;
  font-family: var(--fnt-family-satoshi);
  margin-bottom: 5px;
}

.hero-section-button {
  width: clamp(120px, 20vw, 210px);
  padding: 15px 35px;
  font-family: var(--fnt-family-satoshi);
  font-weight: 500;
  background-color: black;
  color: white;
  border: none;
  border-radius: 62px;
  font-size: clamp(9px, 1.2vw, 16px);
  cursor: pointer;
  white-space: nowrap;
}

.hero-section-stats {
  display: flex;
  margin-top: clamp(12px, 3.5vw, 60px);
  justify-content: space-between;
  font-family: var(--fnt-family-satoshi);
}

.hero-section-stats h2 {
  font-size: clamp(16px, 3.5vw, 40px);
  font-weight: 700;
  line-height: clamp(25px, 4vw, 50px);
}
.hero-section-stats p {
  font-size: clamp(12px, 1.5vw, 16px);
  font-weight: 400;
  line-height: clamp(10px, 1.5vw, 20px);
  opacity: 60%;
}
.vertical-line {
  width: 1px;
  height: clamp(45px, 6vw, 74px);
  background-color: black;
  opacity: 10%;
}

.hero-section-image-container {
  position: relative;
}

.star-left {
  position: absolute;
  top: 40%;
  left: 10%;
  width: clamp(20px, 4vw, 56px);
}

.star-right {
  position: absolute;
  top: 12%;
  right: 12%;
  width: clamp(45px, 8vw, 100px);
}

@media (max-width: 725px) {
  .hero-section-container {
    flex-direction: column;
    padding-inline: 0px;
  }

  .hero-sectin-info {
    max-width: 85%;
    margin-top: 30px;
  }
}

@media (max-width: 425px) {
  .hero-section-button {
    width: unset;
    padding: 10px 35px;
    align-self: stretch;
  }

  .hero-section-stats {
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .line-right {
    opacity: 0%;
  }
}
/*------hero section burada bitiyor-----*/

/* melikeaksoy-OC-14-Create-the-Top-Selling-section start */

.top-selling {
  margin-top: 54px;
  padding: 10px;
  text-align: center;
  font-family: var(--fnt-family-satoshi);
}

.top-selling h1 {
  font-family: var(--fnt-family-integral);
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 55px;
}

.top-selling .products {
  display: flex;
  gap: 20px;
  max-width: 1250px;
  padding-left: 20px;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.products::-webkit-scrollbar {
  display: none;
}
.top-selling .product {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  max-width: 295px;
}

.image-container {
  width: 295px;
  height: 298px;
  padding: 45px;
  background-color: #f0eeed;
  border-radius: 24px;
}

.top-selling-image {
  transition: transform 0.5s;
  cursor: pointer;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
}
.top-selling-image:hover {
  transform: scale(1.1);
}
.top-selling h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 16px;
}

.current-price,
.original-price,
.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 32.4px;
}

.original-price {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}

.view-all {
  padding: 16px 54px;
  border-radius: 62px;
  font-size: 16px;
  line-height: 21.6px;
  margin-top: 36px;
  border: 1px solid #f0eeed;
  width: 218px;
  height: 52px;
  cursor: pointer;
  color: black;
}

.price {
  display: flex;
  gap: 10px;
}
.discount {
  background-color: rgba(255, 51, 51, 0.1);
  width: 58px;
  height: 28px;
  border-radius: 62px;
  color: #ff3333;
  size: 12px;
  line-height: 16.2px;
  border: none;
  padding: 6px 14px;
}
.nt-stars-and-puan {
  width: 150px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product .stars {
  margin-right: 13px;
  display: flex;
}

.product .point-stars {
  font-size: 16px;
  line-height: 18.9px;
  font-weight: 400;
}

.product .star {
  width: 20px;
  height: 20px;
  background-color: gray;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  margin-right: 5px;
}

.star.full {
  background-color: #ffc633;
}

.star.half {
  background: linear-gradient(to right, #ffc633 50%, #dad0cc 50%);
}
.star.empty {
  background-color: #dad0cc;
}

@media (max-width: 680px) {
  .top-selling h1 {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .top-selling h2 {
    font-size: 16px;
    line-height: 21.6px;
    margin-top: 10px;
  }

  .current-price,
  .original-price,
  .price {
    font-size: 20px;
    line-height: 27px;
  }

  .view-all {
    width: 358px;
    height: 46px;
    font-size: 14px;
    line-height: 18.9px;
    margin-top: 24px;
  }
}

/* melikeaksoy-OC-14-Create-the-Top-Selling-section end */
