@import url("./styles/styles.css");

/* nursahtuncel-OC-4-Desing-the-Header-Section start */
.nt-hero-section {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0 20px;
  display: flex;
}
.nt-hero-section-content {
  max-width: 1240px;
  width: 100%;
  height: 48px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.nt-hero-section-content-ul ul {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.nt-logo {
  font-family: var(--fnt-family-integral);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}
.nt-list {
  white-space: nowrap;
  font-family: var(--fnt-family-satoshi);
  font-size: clamp(8px 9vw 16px);
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: var(--hdr-bg-clr);
  position: relative;
}

.nt-list::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: black;
  color: black;
  left: 40%;
  bottom: -10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nt-list:hover::before {
  font-weight: bold;
  opacity: 1;
}
.nt-list:hover {
  font-weight: bold;
  transition: 0.3s ease-out;
}
.nt-icons:hover {
  cursor: pointer;
}
.nt-hero-section-search-box {
  display: flex;
  align-items: center;
  background-color: rgba(240, 240, 240, 1);
  max-width: 577px;
  width: 100%;
  height: 48px;
  border-radius: 62px;
  padding: 15px;
}

.nt-hero-section-search-box i {
  font-size: 20px;
  margin-right: 10px;
  color: #aaa;
}

.nt-hero-section-search-box input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  color: #555;
}
.nt-hero-section-search-box input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.nt-search-icon {
  display: none;
}
.nt-hamburger-menu {
  display: none;
}
.nt-left-icon {
  padding-left: 10px;
}

@media screen and (max-width: 820px) {
  .nt-search-icon {
    display: inline-block;
  }
  .nt-hero-section-search-box {
    display: none;
  }
  .nt-logo {
    font-size: 28px;
  }
}
@media screen and (max-width: 620px) {
  .nt-list {
    display: none;
  }
  .nt-hamburger-menu {
    display: inline-block;
  }
}

/* nursahtuncel-OC-4-Desing-the-Header-Section end*/
