@import url("https://fonts.cdnfonts.com/css/satoshi");
@font-face {
  font-family: "Integral CF";
  src: url(styles.css/fonts/Fontspring-DEMO-integralcf-bold.otf);
}

:root {
  --hdr-section-clr: #f2f0f1; /*header section background color*/
  --ftr-imgs-bg-clr: #f0f0f0; /*footer and images group background color*/
  --img-bg-clr: #f0eeed; /*every image background color*/
  --hdr-bg-clr: #000000; /*every header background color*/
  --heading: "Integral CF", sans-serif;
  --paragraph: "Satoshi", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
